.product {
  background-color: grey;
}

.product-title {}

.mat-card-header-text {
  margin: 0;
}

.header {
  margin: 0;
}
// .mat-card-title {
//   left: 20px;
// }

.buttons {
  float: right;
}

.mat-card {
  margin: 20px;
  background-color: #354f52;
  border: solid;
  border-color: white;
  border-width: 0.5px;
}
