.mat-tab-group {
  margin-bottom: 48px;
  padding-left: 20px;
  background-color: #21252B;
}

.landingpage-title {
  padding-left: 20px;
}


// .landingpage {
//   padding-left: 5%;
//   padding-right: 5%;
// }
